RuuviTag_old.json
[{"id":"9fcac86e.73dca8","type":"tab","label":"Ruuvi","disabled":false,"info":""},{"id":"8a99ab12.2a6af8","type":"scan ble","z":"9fcac86e.73dca8","uuids":"","duplicates":false,"name":"","x":510,"y":140,"wires":[["863f2194.0154a"]]},{"id":"863f2194.0154a","type":"ruuvitag","z":"9fcac86e.73dca8","name":"","x":160,"y":220,"wires":[["2e342004.fe5da","c9e10cc9.4ebf9"]]},{"id":"2e342004.fe5da","type":"debug","z":"9fcac86e.73dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":150,"y":340,"wires":[]},{"id":"c9e10cc9.4ebf9","type":"function","z":"9fcac86e.73dca8","name":"Pick data","func":"let measure = JSON.parse(msg.payload);\n\nlet msg0 = {};\nmsg0.payload = (measure.temperature).toFixed(2)\nmsg0.topic = \"Temperature\";\n\nlet msg1 = {};\nmsg1.payload = measure.humidity;\nmsg1.topic = \"Humidity\";\n\nlet msg2 = {};\nmsg2.payload = (measure.pressure/100).toFixed(2);\n// node.warn(msg2.payload)\nmsg2.topic = \"Pressure\";\n\nlet msg3 = {};\nmsg3.payload = measure.battery/1000\nmsg3.topic = \"Battery\";\n\nlet msg4 = {};\nmsg4.payload = measure.txPower\nmsg4.topic = \"TxPower\";\n\nlet msg5 = {};\nmsg5.payload = measure.movementCounter\nmsg5.topic = \"Movement Counter\";\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5];","outputs":6,"noerr":0,"x":500,"y":320,"wires":[["53ab0bcf.14c084","f0c0f73d.129f08"],["8d0efe27.35837","25486613.994b9a"],["ddcdd8ac.a93108","6aa04363.a4a53c"],["28328226.5732de"],["5b557875.651748"],["3a555de.ab05fa2"]]},{"id":"3c36043b.26e5fc","type":"inject","z":"9fcac86e.73dca8","name":"Start BLE scan every 1 min","topic":"startBLEScan","payload":"{ \"scan\": true }","payloadType":"json","repeat":"60","crontab":"","once":true,"onceDelay":"","x":180,"y":60,"wires":[["8a99ab12.2a6af8","43205b91.a00584"]]},{"id":"43205b91.a00584","type":"change","z":"9fcac86e.73dca8","name":"Stop scan","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"scan\": false }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":140,"wires":[["9bee67a4.7194d8"]]},{"id":"9bee67a4.7194d8","type":"delay","z":"9fcac86e.73dca8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":140,"wires":[["8a99ab12.2a6af8"]]},{"id":"53ab0bcf.14c084","type":"ui_gauge","z":"9fcac86e.73dca8","name":"","group":"e51a7cef.4b381","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C ","format":"{{value | number:1}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":100,"wires":[]},{"id":"f0c0f73d.129f08","type":"ui_chart","z":"9fcac86e.73dca8","name":"","group":"e51a7cef.4b381","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":140,"wires":[[]]},{"id":"8d0efe27.35837","type":"ui_gauge","z":"9fcac86e.73dca8","name":"","group":"c5cfacb4.12e2c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":180,"wires":[]},{"id":"ddcdd8ac.a93108","type":"ui_gauge","z":"9fcac86e.73dca8","name":"","group":"34c66657.b93e9a","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value | number:0}}","min":"950","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":260,"wires":[]},{"id":"6aa04363.a4a53c","type":"ui_chart","z":"9fcac86e.73dca8","name":"","group":"34c66657.b93e9a","order":2,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":300,"wires":[[]]},{"id":"25486613.994b9a","type":"ui_chart","z":"9fcac86e.73dca8","name":"","group":"c5cfacb4.12e2c","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":220,"wires":[[]]},{"id":"28328226.5732de","type":"ui_text","z":"9fcac86e.73dca8","group":"e51a7cef.4b381","order":3,"width":0,"height":0,"name":"Battery","label":"","format":"Battery {{msg.payload}} V","layout":"row-center","x":740,"y":340,"wires":[]},{"id":"5b557875.651748","type":"ui_text","z":"9fcac86e.73dca8","group":"c5cfacb4.12e2c","order":3,"width":0,"height":0,"name":"TxPower","label":"","format":"TxPower {{msg.payload}} dB","layout":"row-center","x":900,"y":380,"wires":[]},{"id":"3a555de.ab05fa2","type":"ui_text","z":"9fcac86e.73dca8","group":"34c66657.b93e9a","order":3,"width":0,"height":0,"name":"Move counter","label":"","format":"Move counter {{msg.payload}}","layout":"row-center","x":1060,"y":420,"wires":[]},{"id":"66228cca.04ca44","type":"comment","z":"9fcac86e.73dca8","name":"Column 1","info":"","x":740,"y":60,"wires":[]},{"id":"5c9e4880.c5c8a8","type":"comment","z":"9fcac86e.73dca8","name":"Column 2","info":"","x":900,"y":60,"wires":[]},{"id":"176e402c.faacd","type":"comment","z":"9fcac86e.73dca8","name":"Column 3","info":"","x":1040,"y":60,"wires":[]},{"id":"e51a7cef.4b381","type":"ui_group","z":"","name":"Column 1","tab":"d3f55b93.e53b28","order":1,"disp":false,"width":"6","collapse":false},{"id":"c5cfacb4.12e2c","type":"ui_group","z":"","name":"Column 2","tab":"d3f55b93.e53b28","order":2,"disp":false,"width":"6","collapse":false},{"id":"34c66657.b93e9a","type":"ui_group","z":"","name":"Column 3","tab":"d3f55b93.e53b28","order":3,"disp":false,"width":"6","collapse":false},{"id":"d3f55b93.e53b28","type":"ui_tab","z":"","name":"Ruuvi measurement","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
